.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--horizontal-space);
  margin-bottom: 15px;
}

.screen-header__title {
  font-size: 32px;
  font-weight: 500;
}

.screen-header__icons span {
  margin-left: 25px;
  position: relative;
}

@keyframes notification__2beat {
  0% {
    transform: none;
  }
  50% {
    transform: scalex(1.5) scaleY(1.5);
  }
  100% {
    transform: none;
  }
}

.screen-header__icons__notification {
  background-color: tomato;
  width: 6px;
  height: 6px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 25px;
  bottom: 20px;
  animation: notification__2beat 3s ease-in-out infinite;
  animation-delay: 1s;
}

@keyframes rotateCog {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}

.screen-header__icons .fa-cog:hover {
  animation: rotateCog 1s linear infinite;
}
